.default {
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  border: 1px solid #e3e3e3;
  background-color: #fff;
  color: #3d3d3d;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.primary {
  border: 1px solid transparent;
  background-color: #0095f6;
  color: #fff;
}

.icon {
  &.small {
    padding: 3px 5px;
  }
  &.medium {
    padding: 5px 10px;
  }
  &.large {
    padding: 8px 12px;
  }
}

.small {
  padding: 3px 10px;
  height: 24px;
}
.medium {
  padding: 5px 20px;
  height: 28px;
}
.large {
  padding: 8px 30px;
  height: 32px;
}
